body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: color pink;
    margin:0px;
    padding:20px;
}
.resume-content{
    width:800px;
    margin:auto;
    background-color:pink;
    padding:20px;
    box-shadow:0 0 10px;
}
.header{
    text-align:center;
    border-bottom:2px solid;
}
.header h1{
    margin:0;
    color:red;
}
.header p{
    margin:5px 0 0;
     color:yellow;

}
.section{
    margin-bottom:20px;
}
.section h2{
    color: #270369;
    border-bottom:1px solid;
    padding-bottom:5px;
}
ul{
    list-style-type: disc;
    margin-left:20px;   
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
    background-color: yellow;
}
th{
    background-color:orangered
    ;

}
tr{
   background-color:orange;

}
.company{
    font-style: italic;
    color:#991515;
    margin:0 0 5px 0;
}